#titleLabel {
    font: 18px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
    color: white;
}

#contentLabel {
    color: rgb(208, 208, 208);
    font: 12px 'Segoe UI', 'Microsoft YaHei', 'PingFang SC';
}

#viewTitleLabel {
    color: white;
    font: 20px "Segoe UI SemiBold", "Microsoft YaHei", 'PingFang SC';
}

SampleCard {
    border: 1px solid rgb(46, 46, 46);
    border-radius: 10px;
    background-color: rgba(39, 39, 39, 0.60);
}

